@import '../../styles/style';

/* gap */
.demo-gap {
  padding: 50px;
  overflow: hidden;
  background-color: black;
}
.demo-gap h1,
.demo-gap h2,
.demo-gap h3 {
  text-align: center;
}
.demo-gap .container {
  max-width: 800px;
  margin: 0 auto;
}

/* Demo Content */
.demo-content {
  padding: 80px;
}


/* Float */
.demo-float-left {
  float: left;
}
.demo-float-right {
  float: right;
}


/* Mobile */
@media screen and (max-width: 500px) {
  .demo-gap,
  .demo-content {
      padding: 50px 30px;
  }
}

.jarallax-img-dude {
  object-position: 50% 100% !important;
}


/* hero block */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 500px;
  // height: calc(100vh - 220px);
}
.hero h1 {
  font-size: 80px;
  font-size: clamp(32px,7.5vw,80px);
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: -0.01em;
  font-weight: 800;
}
.hero.jarallax > .jarallax-img img,
.hero.jarallax > .jarallax-container img {
  filter: blur(3px);
}
.hero-name {
  font-size: 20px;
  font-size: clamp(17px,2vw,20px);
  font-weight: 300;
  // letter-spacing: 1.1em;
  letter-spacing: 0.3em;
  // letter-spacing: clamp(1em,2vw,1.1em);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.hero + .demo-gap {
  min-height: 230px;
}

#projectsWrapper1 {
  &:hover {
    .project-block {
      opacity: 0.4;
      transform: scale(0.96)
    }
  }
}
.project-block {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  transition: all 0.2s ease;
  padding: 30px;
  height: 100%;
  text-align: center;
  text-decoration: none;

  img {
    transition: all 0.4s ease;
  }

  &:hover {
    opacity: 1 !important;
    border-color: purple;
    transform: scale(1.07) !important;

    img {
      transform: scale(1.4);
    }
  }
}

.project-block-header {
  height: 100px;
  text-align: center;
  text-decoration: none;
}

.project-block-sub-title {
  border-top: 1px solid gray;
  text-align: center;
  text-decoration: none;
}