// @import "~bootstrap/scss/bootstrap"; // TODO - only use partial bootstrap
@import './global';
@import './jarallax';
@import './glow-ball';

canvas {
  position: fixed;
  // z-index: -1;
}

.navbar {
  background-color: black !important;
}

.neon-ball {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

#rainCanvas {
  transition: all 3s ease;
  opacity: 0;

  &.show {
    opacity: 1
  }
}

.tardis-img {
  // position: absolute; 
  z-index: -1;
  height: 150px;
  // left: 220px;
  // top: 140px;
}

/* Lighter background */
.lighter-bg {
  background-color: #0f0f11;
}